<pre>
  <code>-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBFr8yIcBEADEXe5otmwdV2FnZg1Qb3jvwo0NcfqgrFWHjdmSOajyiG4wfydd
D5a4y2NUxkrDcg/WSyX4KHeQh/QJG5jdCjh5mWZ9a1J1kMl9n3VobXAS0+YgXfna
grUAT87WaiH6MdUL/LmNVFWXLgyBz82hcb9yT3iZAB9WGhFxrVkiG4GsxQ79ysm4
IBms3k1HibdyWAhe+U6+IUPv5Cmrl5kZ1IP8QJ7Ocs1KWAULldFqtBwDwGsU+Aud
932HmZl4+vztNMpmmQ1SirO/cGsSr5IpmzoUjqKNk2ZARsiJig6m/INMmegjpd71
JLJQOvp/LYOAjo0r48UQAtAFTQPM6KsdlkAnSqm0u2gLiHs7ZFR2AwJcU3hvkDXF
roz8GWKRPJkJ937SG8rBNfj/uFjEKziBeCN3VGqovgihKqt1DyuUOrs+VMBcBgnq
KZnXrMVFT8I4MC0Pgm7HOFMZHbMTAOE/E3kSqa51njibdD8KuZbUx2BBVpSWq1hw
0UxrFN+t21z+SSTn2P+6qAcxRjQhK2k09PxMeZWW+sXM60b8ryCHpBkg+w8Xq03S
RiteNWq+ehjC1YjE8p/mxPfQ9wT2MXkxYLBQYVgckoIa5PCHf1J5RqD/WQUbEuAd
vY6xwft4zsJB+XTrzzMitFMhx/zeZX0UHa9GkVZaxfda62Izwzh+LD9upQARAQAB
tCJTYW0gTGFjaGFuY2UgPHNhbUBzYW1sYWNoYW5jZS5jb20+iQJUBBMBCgA+FiEE
fM9ItHlbCEgxApwGoB7D4Xyocz8FAlr8yIcCGwMFCQHgwHkFCwkIBwIGFQoJCAsC
BBYCAwECHgECF4AACgkQoB7D4Xyocz+QTA//aitv+UWGOX4DRuGl5UGQfsu7P4ag
ukv6pl62rC11I3/R2SC9n0gd3gErYXPSkmzZ9TjowV6jeayXA+j5h+zfe8EzogzA
1zDDL8gUve0M5OWgThXA3KBVPFP8CMuoKdzwhSUH+C0eQRzkyniZck/MsauuwkNA
KLc1nv7PAjMRoNsIf0AJtg2NQ5vUDmXXg0GY1EWr2Enkb7p+W7ILXwHjzud5vyJO
Oj8WuCEIXEhl4YVCVlDLS9bRaoSToI+kMqTUmSvvae9RHhNSD27tM+rLAtk2Y2Rm
eRJf7FojZKoEYK4zbuEuseSTNbOYVHAE2z6++ozpGUZhRn8lB9G9TscL8ht/6nT2
xa/hkYSUa0+Tc+j5teEqtjL0de7v5IvkOBJtH4bEJzYGpca1pvSnTAD56S6fPlXI
4zD2C7HE8kZ1Md3v1EuO+dtD+5A4qIMqiMMx3Gr1EGxHH1RfnDiLL8mGEPCUMW3U
OpZ3AaLIlXKWESmvltUB6AkfrN4P8rtMklt3sViKnlF8vmym+ymrekipNnk3WDJl
22hRYMBVmbZ7DWZM77C3RVnBQXjb6sOwVjZe4MP+gXpQRHWnYvnUNFQP3d3b7bg2
mulyDDeacmpoYB1Na2jiQGOzfItqtE8Q7D5QzfwLWqANKw2ZnZ2rln22Gsnxo//s
fJnZ4fZf/mt+eLGIdQQQEQgAHRYhBFGuGYG+zeGkoFfEISiR6DBI1GuUBQJa/M6b
AAoJECiR6DBI1GuUCJoA/0NdSzAa5iWUxbxHgDUfU9bl/dB832xm2LKUvZNlmQr0
AQDEfa3KqPNeLQlqEglDI8RvF1jrS4OC4gjrB7k4LWFbE7kCDQRa/MiHARAAti6Y
ang0wKa/4hosxFc4LQpV4/I3IaDZC+InXBObvl2eCJ69z6QwsOFbw5s2bysszt3n
njG6HU2haRkq5a/mhKlH29oaoqCpnlZ/4B9MfBRDEpVwwIvmPgOJenCkQ0zqCApH
GX7bvxjx8POPcM3fcGl3lz7mc/imYNxtx1BFmmz3A1HtwOiL867dYUBMg3//hfV0
j3wCI9J7RhgKGQZMbV5GDLcimJrsqC/fFuf+uqjQBdz73czQk+eCZb6+LXqzkb6/
0Dw2Vi1QS6dwPXiveosoHFQaalXKGyFcs9TOhEELaDDzioL3kZJPltQ5jtPPluvQ
UfffxF+l30Wbebi3c00Z0qi17KBDjbjJXr76xJJsvbc1cyQZ/9v9IWA3T753DvKm
rX9q99GDqHK/diT/kYIwhEW/zchGWuNfMdDEQy+hx1+vOHqrmtsvPTQ0S1yPfn7B
jGmpDR/0juuRUHIGA6o+mqoWOUml5o0D7ymr4o9krkGLOvLvAYtfJWkGUBsPjk46
gjQ8XqnsiBGT5HUOlXr8flu0p5wIU5oMAn25Um7xJYd1zMGuQEe3O18H9KrTlBa0
alhTSkBFkZfbjv1KruznOcNTm7Jj8xwH/sSSNO99GkGCKwjKuijCxmXSbuwDPtHF
jDuNCoJeTsRXfE/1FcogjphH7rznuF5yu4lO++8AEQEAAYkCPAQYAQoAJhYhBHzP
SLR5WwhIMQKcBqAew+F8qHM/BQJa/MiHAhsMBQkB4MB5AAoJEKAew+F8qHM/SCcQ
AL7THKKivKz2cgZsEhz89WpSeGwDcPdtPhS146YuHhIDI//IqDU3xTYJtM0pZPeo
K4mPMQ+BA6nqG4CqhUZ7CpgQESSn6h8q3OgqXgoTcjvLXTdX9x2aXYqLLozTzXy3
CIdKrs40EOkLSRfzSTRTjQP4OmmpoS6WpkWOhcuqGQupegczz15I/w3ZKF0OLqdK
2ZiPpMy7ypFb9H2h8yhA+tjTpjbeiTIqkwljRVlrn9aXsE6vkWK/vbmOdJ5+I6MF
AiHLP7XaqcyxqOTy9/pqzFyIxvUO30axZHPjLtgeRj23cK/wTcMfvCt0YmlKaKT6
eRaWP8g1zAKqEOdX030Csm28fI0Rcx+950JkCUiwXgVR3758S7FeycyEBb2mBbvS
7NDzRtGPqR5wLdO9i+GvxrkFzf9Ls50QcCWxdu0IoZXFFMnZRoVH3OVLqPNqUSJ6
prgyN7C7JKaeN3JdxHJCjsWJtfCMJlvtSVQqMtpeuo0tZ8TSqfzl1ylwYa/1e73U
7gJ9TOffJm5yi+IsMbNYEAuLpV6NKaotbCS5f4ot+YpUJ2cL2F5QMkTeOGYT1p0K
CI0mFauYZrKtI2fhyvIewVjHziG/ro8d5RI7AMM3HOs2gmmm2VBwPJgbrKJBAcMv
cN6Dck2cmrfxLumEvC2q+HYrrrfEyZkhN2diQ6InZAOO
=ImMj
-----END PGP PUBLIC KEY BLOCK-----</code>
</pre>